::-webkit-scrollbar {display: none;}

@font-face {
  font-family: essenceSans;
  src: url(./../font/EssenceSans.ttf);
}

*{
	font-family: essenceSans;
	font-size: 100%;
}

.load img{
	width: 100vw;
}

body{
	display: none;
}

button {
  outline: none;
}

.red{
	background-color: red;
	height: 13px;
}

.blue{
	background-color: blue;
	height: 13px;
}

/*md*/
@media only screen and (min-width: 768px) {
}

/*lg*/
@media only screen and (min-width: 992px) {
}

.navbar-icon{
	display: inline-block;
	width: 1.7em;
	height: 1.7em;
	vertical-align: middle;
	background: no-repeat center center;
	background-size: 100% 100%;
}

.navbar{
	padding: 0px 15px;
}

#navbarNavDropdown{
	text-align: center;
}

.navbar-nav{
	margin: auto;
	font-size: 110%;

}

.nav-item{
	padding: 0rem 3rem;
}

.header{
	height: 300px;
	background-color: gray;
}



.headerImg{
	display: block;
	margin: 25px auto;
	object-fit: cover;
	width: 80vw;
	max-width: 1200px;
	height: 250px;
	border-radius: 12px;
	vertical-align: middle;
}

.textDiv{
	text-align: center;
	font-size: 150%;
	margin-top: 20px;
}

.videoIndexContainer{
	height: calc(100vh - 75px);
	width: 100vw;
}

#videoIndex{
	width: 100%;
  	outline: none;
}

.socialLink{
	width: 100%;
}