::-webkit-scrollbar {display: none;}

@font-face {
  font-family: essenceSans;
  src: url(./../font/EssenceSans.ttf);
}

*{
	font-family: essenceSans;
	font-size: 100%;
}

.load img{
	width: 100vw;
}

body{
	display: none;
}

button {
  outline: none;
}

.red{
	background-color: red;
}

.blue{
	background-color: white;
}

/*md*/
@media only screen and (min-width: 768px) {
}

/*lg*/
@media only screen and (min-width: 992px) {
}

.navbar-icon{
	display: inline-block;
	width: 2em;
	height: 2em;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
}

#navbarNavDropdown{
	width: 100vw;
	text-align: center;
}

.navbar-nav{
	margin: auto;
	font-size: 120%;
}

.header{
	height: 200px;
	background-color: gray;
}

.headerImg{
	display: block;
	margin: 25px auto;
	object-fit: cover;
	width: 80vw;
	max-width: 900px;
	height: 150px;
	border-radius: 12px;
	vertical-align: middle;
}

.textDiv{
	text-align: center;
	font-size: 150%;
	margin-top: 20px;
}

.videoIndexContainer{
	height: calc(100vh - 75px);
	width: 100vw;
}

#videoIndex{
	width: 100%;
	height: 100%;
  	outline: none;
}
