::-webkit-scrollbar {display: none;}

@font-face {
  font-family: essenceSans;
  src: url(./../font/EssenceSans.ttf);
}

.load img{
	width: 100vw;
}

.red{
	background-color: red;
	min-height: 15px;
}

.blue{
	background-color: blue;
	min-height: 15px;
}

/*md*/
@media only screen and (min-width: 768px) {
}

/*lg*/
@media only screen and (min-width: 992px) {
}

.textDiv{
	text-align: center;
	font-size: 150%;
	margin-top: 50px;
}